{% extends 'base.html' %}
{% block title %}
Event
{% endblock title %}

{% block content %}

<h3>Create Event</h3>
<div class="create-event-container">
        <div class="row row-buffer-bottom">
            {% if register_success %}<h2>Register success!</h2>{% endif %}
            <h2>Register</h2>
            <form action={% url 'earth:index' %} method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    {{ user_form.password1 }}
                </div>
                <div class="form-group">
                    {{ user_form.password2 }}
                </div>
                <div class="form-group">
                    {{ user_form.email }}
                </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}