{% extends 'base.html' %}
{% block title %}
Events
{% endblock title %}
{% block content %}

<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script type"text/javascript">
  $(function() {
    $( "#accordion" ).accordion();
  });
   $(function() {
    $( "#datepicker" ).datepicker();
  });

   $("#datepicker").on('input', function(){
   		$(".event-card-list").scrollTop -= 100;
   });
  </script>
</head>
<div class="col-md-3 calendar-section">
	<h2>Choose A Date</h2>
		<p>Date: <input type="text" id="datepicker"></p>
	<h2>Your Events</h2>
	<div id="accordion" class="your-events-container">
		<div class="event-status">Going</div>
		<ul class="your-events">
			{% for event in events %}
			<li class="your-event">
				<a class="your-event-name" href="{% url 'earth:event_info' event.id %}">{{ event.name }}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="event-status">Not Going</div>
		<ul class="your-events">
			{% for event in events %}
			<li class="your-event">
				<a class="your-event-name" href="{% url 'earth:event_info' event.id %}">{{ event.name }}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="event-status">Pending</div>
		<ul class="your-events">
			{% for event in events %}
			<li class="your-event">
				<a class="your-event-name" href="{% url 'earth:event_info' event.id %}">{{ event.name }}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="event-status">Hosting</div>
		<ul class="your-events">
			{% for event in events %}
			<li class="your-event">
				<a class="your-event-name" href="{% url 'earth:event_info' event.id %}">{{ event.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="col-md-9 event-list">
	<div class="event-list-top">
		<h1>Events In Your Area</h1>
		<h2 class="area-text">Rochester, NY</h2>
		{% if request.user.is_authenticated %}
		<h2><a class="btn btn-success btn-lg" href="{% url 'earth:create_event' %}">Create Event</a></h2>
		{% endif %}
	</div>
	<div class="event-card-list">
		<div class="event-date-label">October 2015</div>
		{% for event in events %}
		<div class="event-container">
			<div class="event-image-container">
				<img class="event-image" src="http://static1.squarespace.com/static/559bd163e4b01adcb4fa3be4/55b7d23ee4b015b50439b1b2/55b7d34de4b032739413227e/1443973774024/Final+Leaf+Project_Page_3.jpg?format=1000w"></img>
			</div>
			<div class="event-info-container">
				<a class="event-name" href="{% url 'earth:event_info' event.id %}">{{ event.name }}</a>
				<h3 class="event-host">hosted by {{ event.host.user.username }}</h3>
			</div>
			<div class="event-date">10/4/15</div>
		</div> 
		{% endfor %}
	</div>
</div>



{% endblock content %}