{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$('.container').removeClass("container");
</script>

<div class="col-md-3 userbar col-buffer-right">
	<div class="row">
		<p>
			<i class="fa fa-user fa-2x" style="font-size:34px"></i><span style="font-size:30px;display:inline;"> {{ request.user.username }}</span>
		</p>
		<p style="font-size:20px;">Your rank: <span class="badge" style="font-size:20px;">4</span> </p>
		<p>*Your rank is an indicator of how active you are in your community.<br>
		<br>
			<span style="font-size:16px;">Suggestions to improve rank:</span>
			<ul>
				<li>Attend an Event.</li>
				<li>Post on the Forums.</li>
				<li>Refer friends to ClubEarth</li>
			</ul>
		</p>
		</div>
	<div class="row">
		<h3>Top Activity:</h3>
		<div class="col-sm-12">
			<ul class="list-group">
			  {% for event in events %}
			  <a href="{% url 'earth:event_info' event.id %}" class="list-group-item"><i class="fa fa-calendar"></i> {{ event.name }}</a>
			  {% endfor %}
			  {% for thread in threads %}
			  <a href="{% url 'earth:thread_info' thread.id %}" class="list-group-item"><i class="fa fa-file-text"></i> {{ thread.title }}</a>
			  {% endfor %}
			</ul>
		</div>
	</div>

</div>
<div class="col-md-8" style="padding-top: 15px">
	<div class="row">
		<h3>News for You:</h3>

		{% for article in articles %}
		
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="/static/images/news64.png" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <a href="{{ article.url }}" target="_blank"><h4 class="media-heading">{{ article.title }}</h4></a>
				    {{ article.content }}
				  </div>
				</div>
			</div>
		</div>

		{% endfor %}

		
<div>


{% endblock content %}