{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$('.container').removeClass("container");
</script>

<div class="col-md-3 userbar col-buffer-right">
	<div class="row">
		<h3>Your Profile:</h3>
		<p><i class="fa fa-user fa-2x"></i> {{ request.user.username }}</p>
		<p>Your rank: <span class="badge">4</span> </p>
	</div>
	<div class="row">
		<h3>Top Activity:</h3>
		<div class="col-sm-12">
			<ul class="list-group">
			  <a href="#" class="list-group-item">New Thread</a>
			  <br />
			  <a href="#" class="list-group-item">New Event</a>
			  <br />
			  <a href="#" class="list-group-item">New Thread</a>
			  <br />
			  <a href="#" class="list-group-item">New Event</a>
			  <br />
			  <a href="#" class="list-group-item">New Thread</a>
			</ul>
		</div>
	</div>

</div>
<div class="col-md-8" style="padding-top: 15px">
	<div class="row">
		<h3>News for You:</h3>
		
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="http://placehold.it/64x64" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				  </div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="http://placehold.it/64x64" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				  </div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="http://placehold.it/64x64" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				  </div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="http://placehold.it/64x64" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				  </div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
				  <div class="media-left media-middle">
				    <a href="#">
				      <img class="media-object" src="http://placehold.it/64x64" alt="...">
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading">Media heading</h4>
				    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				  </div>
				</div>
			</div>
		</div>
<div>


{% endblock content %}