{% extends 'base.html' %}
{% block title %}
{{thread.title}}
{% endblock title %}
{% block content %}

<h1>{{ thread.title }}<small> by: {{ thread.author }} <br /> Rochester, NY <i class="fa fa-location-arrow"></i></small></h1>
<hr />
<ol class="breadcrumb">
	<li><a href="/forums">Forums</a></li>
	<li><a href="{% url 'earth:forum_category' thread.category.id %}"> {{ thread.category.name }}</a></li>
	<li class="active">{{ thread.title }}</li>
</ol>

<div class="panel panel-default">
{% for comment in comments %}
	<div class="panel-heading"> {{ comment.author }} </div>
	<div class="panel-body">
		{{ comment.content }}
	</div>
{% endfor %}
</div>





{% endblock content %}