.create-event-container{
	padding-top: 50px;
}

.create-event-text{
	margin-bottom: 25px;
}

.event-date-field{
	width: 50%;
}

.event-time-field{
	width: 50%;
}

.submit-event{
	margin-top: 25px;
	float: right;
	background: #407e81;
	color: white;
	border: 1px #A0A0A0 solid;
}

.submit-event:hover{
	background: #9cc2c4;
}

.event-map{
	width: 500px;
	height: 260px;
	margin-bottom: 25px;
}