.row-buffer{
    margin-top: 20px;
    margin-bottom: 30px
}

.row-buffer-bottom{
    margin-bottom: 30px;
}

.col-buffer-right{
	margin-right: 20px;
}

.navbar-default {
	background-color: #347C2C;
	background: -webkit-linear-gradient(#347C2C, ##3F954A); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#347C2C, #479C56); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#347C2C, #479C56); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#347C2C, #479C56); /* Standard syntax */
  	border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover {
	color: black;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #B3CEEC;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #B3CEEC;
}

.navbar-default .navbar-nav>li>a:hover {
	color: black;
}