.event-list{
	float: left;
	width: 70%;
}

.event-list-top{
	text-align: center;
	margin-bottom: 35px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.area-text{
	display: inline;
	font-size:28px;
	margin-bottom: 5px;
}

.create-event-btn{
	margin-top: 8px;
}

.event-card-list{
	overflow:auto;
	height: 598px;
	border-bottom: 1px solid black;
}

.event-container{
	background-color: #ffffff;
	width: 60%;
	height: 160px;
	margin: auto;
	margin-bottom: 40px;
	border-radius: 5px;
	border: 2px solid #d1d1d1;
}

.event-image-container{
	display:inline-block;
	float:left;
	padding-left: 20px;
	padding-top: 20px;
}

.event-image{
	width: 75px;
	height: 75px;
}

.event-info-container{
	display: inline-block;
	padding-left: 20px;
	padding-top: 32px;
}

.event-name{
	font-size: 30px;
	line-height: 30px;
}

.event-host{
	margin-left: 10px;
	font-size: 17px;
	line-height: 20px;
	margin-top: 0px;
	color: #787878;
}

.calendar-section{
	display: inline-block;
	border-right: 1px solid black;
	padding-top: 58px;
	height: 535px;
}

.calendar-section h2{
	font-size: 20px;
}

.event-date{
	font-size: 16px;
	float: right;
	position: relative;
	top: -75px;
	right: 10px;
}

.event-more{
	float: right;
	position: relative;
	right: 15px;
}

.your-events-container{

}

.your-events-dropdown{
	font-size: 28px;
}

.ui-accordion .ui-accordion-header{
	font-size: 22px;
	background: #7eaae6; 
	color: #ffffff;
}

.event-date-label{
	font-weight: bold;
	margin-bottom: 10px;
	font-style: italic;
	color: rgb(120, 120, 120);
	margin-left: 20px;
}

.change-area{
	display: block;
}